.booking {
    width: 100%;
    padding: 32px;
    border: 1px solid var(--gray-light);
    border-radius: var(--radius-lg);
    background-color: var(--white);
    max-width: 700px;
}

.title {
    margin: 0 0 8px;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;

    color: var(--main);
}

.text {
    margin: 0 0 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;

    color: var(--gray);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input,
.textarea {
    width: 100%;

    border: none;
    outline: none;
    border-radius: var(--radius-md);

    background-color: var(--inputs);
    color: var(--main);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
}

.input {
    height: 48px;
    padding: 14px 20px;
}

.textarea {
    height: 88px;
    padding: 12px 20px;
    resize: none;
}

.input::placeholder,
.textarea::placeholder {
    color: var(--gray);
}

.input:focus,
.textarea:focus {
    box-shadow: 0 0 0 1px var(--button);
}

.button {
    width: 156px;
    margin: 8px auto 0;
    padding: 12px 51px;
}