.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin: 0 auto;
    padding: 16px 20px;
    border-bottom: 1px solid var(--badges);
    background-color: var(--badges);
    min-width: 320px;

}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    gap: 16px;
    list-style: none;
}

.navigation a.active {
    color: var(--button-hover);
}

.navigation a {

    transition: color 0.2s ease;
}

.navigation a:hover,
.navigation a:focus {
    color: var(--button-hover);
}

@media only screen and (min-width: 768px) {
    .header {
        padding: 20px 55px;
    }

    .navigation {
        font-size: 15px;
        gap: 24px;
    }
}

@media only screen and (min-width: 1200px) {
    .header {
        padding: 20px 60px;
    }

    .navigation {
        font-size: 16px;
        gap: 24px;
    }
}

@media only screen and (min-width: 1440px) {
    .header {
        padding: 24px 120px;
    }

    .navigation {
        gap: 32px;
    }
}

@media screen and (min-width: 2560px) {
    .header {
        padding: 24px 320px;
        max-width: 100%;
    }

    .navigation {
        gap: 32px;
    }
}