.wrapper {
    padding-bottom: 124px;


}

.carsList {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 32px;
    margin-top: 56px;

}

.loadMore {
    display: block;
    margin: 80px auto 0;
}

.loaderWrapper {
    display: flex;
    justify-content: center;
    padding: 60px 0;
}